{% extends 'base.html.twig' %}

{% block title %}{{ band.Name }}{% endblock %}

{% block body %}
    <h1>{{ band.Name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Picture</th>
                <td><img src="{{ band.Picture }}" alt="Picture of {{ band.Name }}" width="320px"</td>
            </tr>
            <tr>
                <th>Instrument</th>
                <td>{{ band.Instrument }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td><a href="{{ band.Wikilink }}">Link</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('band_index') }}">back to list</a>

    <a href="{{ path('band_edit', {'id': band.id}) }}">edit</a>

    {{ include('band/_delete_form.html.twig') }}
{% endblock %}
