{% extends 'base.html.twig' %}

{% block title %}Tour{% endblock %}

{% block body %}
    <h1>Tour</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Get_tickets</th>
                <th>Concert_hall</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td>{{ show.Location }}</td>
                <td><a href="{{ show.GetTickets }}">Tickets</a></td>
                <td>{{ show.concertHall }}</td>
                <td>{{ show.Date ? show.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-warning"><a href="{{ path('shows_show', {'id': show.id}) }}">show</a></button>
                    <button type="button" class="btn btn-warning"><a href="{{ path('shows_edit', {'id': show.id}) }}">edit</a></button>                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-warning"><a href="{{ path('shows_new') }}">Create new</a></button>                   
{% endblock %}
